body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.hero{
    background-color: #1F2937;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    flex: 1;
   
}
 
.header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    max-width: 1500px;
}


.headerlinks
{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

h2 {
    font-size: 24px;
    color: #F9FAF8;
}

.herolink1{
    display: flex;
    gap: 15px;
}
.mainhero{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.secondhero{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 10px;
}

.innerhero{
    display: flex;
    gap:50px ;
    max-width: 1500px;
    padding-bottom: 100px;
}

.innerheroright img{
    max-width: 800px;
    max-height: 400px;
}

.innerheroleft button{
    background-color: #3882F6;
    color: white;
    padding: 8px 20px;
    border-radius: 12px;
    margin-top: 10px;
}

.information{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 100px 0;    
}
.infoheader{
    padding-top: 20px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;;
}

.imgarea img{
    width: 200px;
    height: 200px;
    border: 3px solid #1F2937;
}

.imgarea{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.imgitems {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-basis: 200px;
    gap: 10px;
}
  

.quote{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    width: 100%;
    padding: 170px 0;
    flex: 1;
}

.qtext{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.Signup{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px 0;
    flex: 1;
    
}

.bluediv{
    background-color: #3882F6;
    padding: 30px 100px;
    display: flex;
    gap: 60px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    width: 1400px;
}
.bluediv button{
    height: 30px;
    background-color: #3882F6;
    border-color: white;
    border-radius: 10px;
    padding: 5px 30px;
    color: #E5E7EB;
}
.footer{
    width: 100%;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.footerin{
    color: white;
    font-size: 13px;
}